html, body {
    height: 100%;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.menu {
    margin-right: 100px;
}

.menu__list {
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 50px;
}

.auth {
    display: flex;
}

.auth__item + .auth__item {
    margin-left: 30px;
}

.auth__link {
    padding: 11px 30px;
    border-radius: 7px;
    transition: all .5s;
}

.auth__link:hover {
    background: #E23D3D;
    color: #FFF;
}

.intro {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: #FFF;
    margin-bottom: 200px;
}

.intro__inner {
    padding-top: 130px;
}

.intro__title {
    max-width: 505px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.intro__text {
    max-width: 715px;
    margin-bottom: 30px;
}

.intro__btn {
    margin-bottom: 150px;
}

.btn {
    color: #FFF;
    padding: 11px 30px;
    background: #E23D3D;
    border-radius: 7px;
    transition: all .5s;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: #e29a3d;
}

.intro__panel {
    background-color: #FFF;
    padding: 0 50px;
    border-radius: 14px;
    color: #858181;
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 108px;
    align-items: center;
}

.intro__panel-item {
    margin-left: 34px;
}

.location {
    cursor: pointer;
    position: relative;
}

.location::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_location.svg);
    top: 0;
    left: -32px;
}

.location::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_choice.svg);
    top: 1px;
    right: -32px;
}

.start-date {
    cursor: pointer;
    position: relative;
}

.start-date::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_calendar.svg);
    top: 1px;
    left: -32px;
}

.start-date::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_choice.svg);
    top: 1px;
    right: -32px;
}

.end-date {
    cursor: pointer;
    position: relative;
}

.end-date::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_calendar.svg);
    top: 1px;
    left: -32px;
}

.end-date::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_choice.svg);
    top: 1px;
    right: -32px;
}

.steps {
    margin-bottom: 200px;
}

.steps__inner {
    text-align: center;
}

.steps__suptitle {
    color: #858181;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.steps__title {
    color: #212121;
}

.steps__box {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}

.steps__img-wrapper {
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.steps__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #212121;
    margin-bottom: 10px;
}

.steps__item-text {
    max-width: 260px;
    color: #858181;
}

.steps__arrow-top {
    position: relative;
}

.steps__arrow-top::after {
    position: absolute;
    content: '';
    background-image: url(../images/icons/steps_arrow-top.svg);
    width: 372px;
    height: 44px;
    top: -26px;
    left: 190px;
}

.steps__arrow-down {
    position: relative;
}

.steps__arrow-down::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/steps_arrow-down.svg);
    width: 343px;
    height: 40px;
    top: 56px;
    left: 200px;
}

.service {
    background: #000000;
    color: #FFF;
}

.service__inner {
    padding-top: 100px;
    text-align: center;
}

.service__suptitle {
    font-size: 18px;
    line-height: 27px;
}

.service__title {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
}