html, body {
    height: 100%;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.hide {
    animation-name: a1;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes a1 {
    50% {
        opacity: 0;
        padding: 0;
        margin: 0;
        bottom: 0;
    }

    100% {
        min-height: 0;
        max-width: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        bottom: 0;
    }
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 105px;
    height: 45px;
}

.menu {
    display: flex;
    margin-right: 100px;
}

.menu__item + .menu__item {
    margin-left: 50px;
}

.auth {
    display: flex;
}

.auth__item + .auth__item {
    margin-left: 30px;
}

.auth__link {
    padding: 11px 30px;
    border-radius: 7px;
    transition: all .5s;
}

.auth__link:hover {
    background: #E23D3D;
    color: #FFF;
}

.menu__btn, .menu__mobile{
    display: none;
}

.intro {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: #FFF;
    margin-bottom: 200px;
}

.intro__inner {
    padding-top: 130px;
}

.intro__title {
    max-width: 505px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.intro__text {
    max-width: 715px;
    margin-bottom: 30px;
}

.intro__btn {
    margin-bottom: 150px;
}

.btn {
    color: #FFF;
    padding: 11px 30px;
    background: #E23D3D;
    border-radius: 7px;
    transition: all .5s;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: #e29a3d;
}

.intro__panel {
    background-color: #EFEFEF;
    padding: 30px 50px;
    border-radius: 14px;
    color: #858181;
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__panel-item {
    margin-left: 34px;
}

.location {
    cursor: pointer;
    position: relative;
}

.location::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_location.svg);
    top: 0;
    left: -32px;
}

.location::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_choice.svg);
    top: 1px;
    right: -32px;
}

.start-date {
    cursor: pointer;
    position: relative;
}

.start-date::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_calendar.svg);
    top: 1px;
    left: -32px;
}

.start-date::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_choice.svg);
    top: 1px;
    right: -32px;
}

.end-date {
    cursor: pointer;
    position: relative;
}

.end-date::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_calendar.svg);
    top: 1px;
    left: -32px;
}

.end-date::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/intro_choice.svg);
    top: 1px;
    right: -32px;
}

.steps {
    margin-bottom: 200px;
}

.steps__inner {
    text-align: center;
}

.steps__suptitle {
    color: #858181;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.steps__title {
    color: #212121;
}

.steps__box {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}

.steps__img-wrapper {
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.steps__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #212121;
    margin-bottom: 10px;
}

.steps__item-text {
    max-width: 260px;
    color: #858181;
}

.steps__arrow-top {
    position: relative;
}

.steps__arrow-top::after {
    position: absolute;
    content: '';
    background-image: url(../images/icons/steps_arrow-top.svg);
    width: 372px;
    height: 44px;
    top: -26px;
    left: 190px;
}

.steps__arrow-down {
    position: relative;
}

.steps__arrow-down::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/steps_arrow-down.svg);
    width: 343px;
    height: 40px;
    top: 56px;
    left: 200px;
}

.service {
    background: #000000;
    color: #FFF;
}

.service__inner {
    padding-top: 100px;
    text-align: center;
}

.service__suptitle {
    font-size: 18px;
    line-height: 27px;
}

.service__title {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.service__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.service__left {
    text-align: start;
    counter-reset: number 0; 
}

.service-left-item {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-left: 48px;
    counter-increment: number;
}

.service-left-item + .service-left-item {
    margin-top: 26px;
}

.service-left-item::before {
    position: absolute;
    content: counter(number);
    top: 0;
    left: 0;
}

.service-left-item::after {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px dashed rgb(255, 255, 255);
    top: -6px;
    left: -18px;
}

.service__right {
    position: relative;
}

.service__right::after {
    position: absolute;
    content: '';
    height: 184px;
    width: 1px;
    background-color: #FFF;
    top: 0;
    left: -100px;
}

.service__right-content {
    margin-top: 62px;
    text-align: start;
}

.service__right-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    margin-bottom: 10px;
}

.service__right-text {
    line-height: 120%;
}

.car__inner {
    padding-top: 200px;
    text-align: center;
    margin-bottom: 400px;
}

.car__title {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.car__panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.car__btn {
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    padding: 11px 40px;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    cursor: pointer;
    transition: all .5s;
    max-width: 123px;
}

.mixitup-control-active {
    background: #E23D3D;
    color: #FFF;
}

.swiper-container {
    overflow: hidden;
}

.car__box {
    display: flex;
    justify-content: space-between;
}

.car__item {
    padding: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    max-width: 310px;
}

.car__img {
    border-radius: 14px;
}

.car__item-title {
    text-align: start;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.car__price {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.car__price-full {
    color: #E23D3D;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-right: 35px;
}

.car__price-month {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #858181;
}

.car__price-month span {
    font-size: 10px;
    line-height: 15px;
}

.car__feature {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid #DFDFDF;
    color: #858181;
    margin-bottom: 15px;
}

.car__feature-mileage {
    margin-left: 34px;
    position: relative;
}

.car__feature-mileage::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/speed.svg);
    top: 0;
    left: -34px;
}

.car__feature-transmission {
    position: relative;
}

.car__feature-transmission::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/auto.svg);
    top: 1px;
    left: -30px;
}

.car__feature-fuel {
    position: relative;
}

.car__feature-fuel::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/fuel.svg);
    top: 1px;
    left: -30px;
}

.car__feature-btn {
    padding: 11px 92px;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #FFF;
    background-color: #E23D3D;
    border-radius: 7px;
    cursor: pointer;
}

.car__arrow {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.car__arrow-left + .car__arrow-right {
    margin-left: 30px;
}

.car__arrow-left, .car__arrow-right {
    cursor: pointer;
}

.customer {
    margin-bottom: 400px;
}

.customer__inner {
    text-align: center;
}

.customer__title {
    margin: 0 auto;
    max-width: 626px;
}

.customer__text {
    color: #858181;
    max-width: 532px;
    margin: 0 auto;
}

.customer__car {
    padding-top: 107px;
    display: flex;
    justify-content: space-between;
}

.customer__car-left {
    margin-left: 49px;
}

.customer__car-right {
    margin-right: 53px;
}

.customer__car-left {
    padding-top: 80px;
}

.customer__car-right {
    padding-top: 30px;
}

.customer__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #212121;
}

.customer__item-img {
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}

.customer__item-title {
    padding-top: 30px;
}

.pricing {
    position: relative;
}

.pricing::after {
    position: absolute;
    content: '';
    width: 204px;
    height: 43px;
    background-image: url(../images/icons/customer-line-1.svg);
    top: 38px;
    right: -145px;
}

.budget {
    max-width: 175px;
    position: relative;
}

.budget::after {
    position: absolute;
    content: '';
    width: 216px;
    height: 13px;
    background-image: url(../images/icons/customer-line-2.svg);
    top: 32px;
    right: -187px;
}

.payment {
    max-width: 183px;
    position: relative;
}

.payment::after {
    position: absolute;
    content: '';
    width: 216px;
    height: 13px;
    background-image: url(../images/icons/customer-line-2.svg);
    top: 32px;
    right: -187px;
}

.warrant {
    position: relative;
    max-width: 222px;
}

.warrant::before {
    position: absolute;
    content: '';
    width: 204px;
    height: 43px;
    background-image: url(../images/icons/customer-line-3.svg);
    top: 36px;
    left: -153px
}

.assistance {
    position: relative;
    margin-left: 40px;
    max-width: 190px;
}

.assistance::before {
    position: absolute;
    content: '';
    width: 216px;
    height: 13px;
    background-image: url(../images/icons/customer-line-4.svg);
    top: 30px;
    left: -180px;   
}

.choice {
    max-width: 177px;
    position: relative;
    margin-left: 45px;
}

.choice::before {
    position: absolute;
    content: '';
    width: 216px;
    height: 13px;
    background-image: url(../images/icons/customer-line-4.svg);
    top: 30px;
    left: -180px;   
}

.customer__item + .customer__item {
    margin-top: 91px;
}

.investors__title {
    text-align: center;
    margin-bottom: 50px;
}

.investors__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1012px;
    margin: 0 auto;
    margin-bottom: 138px;
    flex-wrap: wrap;
}

.investors__box::after {
    position: absolute;
    content: '';
    height: 15px;
    width: 171px;
    background-image: url(../images/icons/investors_line.svg);
    bottom: -73px;
    left: 40%;
}

.investors__item {
    max-width: 193px;
    text-align: center;
}

.investors__img {
    max-width: 100%;
}

.investors__name {
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: #212121;
    text-align: center;
    margin-bottom: 9px;
}

.investors__job {
    font-size: 16px;
    line-height: 26px;
    color: #858181;
}

.investors__company {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 605px;
    margin: 0 auto;
    margin-bottom: 400px;
}

.contacts__inner {
    max-width: 714px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #11110F;
}

.contacts__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
}

input {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #4F4F4F;
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 22px;
}

.form__title {
    margin-bottom: 11px;
}

.form__name {
    max-width: 714px;
    width: 100%;
    height: 53px;
    margin-bottom: 20px;
}

.form__wrapper {
    display: flex;
    justify-content: space-between;
}

.form__email-wrapper, .form__tel-wrapper {
    max-width: 332px;
    width: 100%;
}

.form__email-title, .form__tel-title {
    margin-bottom: 12px;
}

.form__email {
    width: 100%;
    height: 53px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #4F4F4F;
    opacity: 0.6;
}

.form__tel {
    width: 100%;    
    height: 53px;
}

.textarea__title {
    padding-top: 22px;
    margin-bottom: 12px;
}

.form__message {
    max-width: 714px;
    width: 100%;
    height: 94px;
    resize: none;
    margin-bottom: 48px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding-top: 19px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #4F4F4F;
    opacity: 0.6;
}

.form__button-wrapper {
    text-align: center;
}

.form__button {
    padding: 11px 30px;
    background: #E23D3D;
    border-radius: 7px;
    color: #FFF;
}

.footer {
    padding-top: 220px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__menu {
    display: flex;
}

.footer__menu-item + .footer__menu-item {
    margin-left: 60px;
}

.footer__icons {
    display: flex;
    align-items: center;
}

.footer__icon + .footer__icon {
    margin-left: 30px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #D4D4D8;
    color: #858181;
}

.footer__copyright-text {
    font-size: 16px;
    line-height: 26px;
}

.footer__agreement-wrapper {
    display: flex;
}

.footer__agreement {
    font-size: 16px;
    line-height: 26px;
}

.footer__agreement + .footer__agreement {
    margin-left: 40px;
}


@media (max-width: 1300px) {
    .service__left {
        margin-left: 50px;
    }
}

@media (max-width: 1240px) {
    .steps__arrow-top::after, .steps__arrow-down::before {
        display: none;
    }

    .service__right::after {
        left: -20px;
    }
    .pricing::after,
    .budget::after ,    
    .payment::after,
    .warrant::before,
    .assistance::before,
    .choice::before {
        display: none;
    }
}

@media (max-width: 1024px) {

    .menu, .auth {
        display: none;
    }

    .logo img{
        width: 80px;
        z-index: 10;
    }
    
    .menu__btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    .menu__btn span {
        height: 3px;
        width: 100%;
        background-color: #000000;
    }

    .menu__mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #CCCCCC;
        height: 100vh;
        z-index: 5;
        text-align: center;
        padding-top: 140px;
        font-size: 3vh;
    }
    
    .menu__item + .menu__item {
        margin-top: 3vh;
        margin-left: 0px;
    }

    .auth__item + .auth__item {
        margin-left: 0px;
    }

    .auth__item {
        margin-top: 5vh;
    }

    .menu__link, .auth__link {
        display: block;
    }

    .service__right-content {
        max-width: 400px;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 36px;
        line-height: 48px;
    }

    body {
        font-size: 16px;
        line-height: 24px;
    }

    .intro__panel {
        display: block;
        text-align: center;
        padding: 15px 50px;
        max-width: 250px;
    }

    .intro__panel-item {
       margin: 0;
       margin-top: 20px;
    }

    .end-date {
        margin-bottom: 20px;
    }

    .customer__car-img {
        display: none;
    }

    .customer__car-right, .customer__car-left {
        padding: 0;
    }

    .customer__car {
        max-width: 700px;
        margin: 0 auto;
    }

    .service__right-content {
        max-width: 300px;
    }
}

@media (max-width: 800px) {
    .steps__box {
        display: block;
    }

    .steps__item {
        margin-top: 30px;
    }

    .steps__item-text {
        margin: 0 auto;
    }

    .service__right-text {
        max-width: 200px;
    }

    .service-left-item {
        font-size: 16px;
    }

    .service-left-item::after {
        width: 39px;
        height: 39px;
    }

    .service-left-item::before {
        top: -2px;
        left: -2px;
    }

    .customer {
        margin-bottom: 200px;
    }

    .investors__box::after {
        display: none;
    }

    .investors__company {
        margin-bottom: 200px;
    }

    .footer__menu {
        display: block;
    }

    .footer__menu-item + .footer__menu-item {
        margin-left: 0px;
    }

    .footer__icons {
        align-items: start;
    }
}

@media (max-width: 700px) {
    .footer__copyright {
        text-align: center;
        display: block;
    }

    .footer__agreement-wrapper {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .service__right {
        display: none;
    }
}

@media (max-width: 500px) {
    .customer__car {
        padding-top: 60px;
    }

    .customer__car-right, .customer__car-left {
        margin: 0;
    }

    .customer__item-title {
        font-size: 18px;
        line-height: 28px;
    }

    .investors__box {
        justify-content: center;
    }

    .investors__item {
        margin-top: 50px;
    }

    .investors__title {
        margin-bottom: 10px;
    }

    .investors__company {
        display: block;
        text-align: center;
    }

    .investors__company-wrapper {
        margin-bottom: 30px;
    }

    .footer__inner {
        display: block;
    }
    .footer__menu {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }

    .footer__icons {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 24px;
        line-height: 36px;
    }

    .intro__inner {
        padding-top: 30px;
    }

    .intro__title {
        margin-bottom: 15px;
    }

    .service__left {
        margin-left: 10px;
    }

    .car__feature-btn {
        font-size: 16px;
    }

    .car__inner {
        margin-bottom: 200px;
    }
    
    .customer__car {
        display: block;
    }

    .customer__item {
        margin: 0 auto;
        margin-top: 50px;
    }

    .customer__item-title {
        padding-top: 10px;
        font-size: 16px;
        line-height: 24px;
    }

    .customer__car-right {
        margin-top: 50px;
    }

    .investors__job {
        font-size: 12px;
        line-height: 24px;
    }

    .investors__name {
        font-size: 18px;
        line-height: 24px;
    }

    .form__wrapper {
        display: block;
    }

    .form__tel-wrapper {
        margin-top: 30px;
    }

    .contacts__title {
        font-size: 30px;
        line-height: 100%;
    }

    .form__email-wrapper, .form__tel-wrapper {
        max-width: 100%;
    }
}

@media (max-height: 600px) {
    
    .intro__panel {
        margin-top: -50px;
    }

    .steps {
        padding-top: 150px;  
    }
}